In [ ]:
'''Baseball Data - A data set containing complete batting and pitching statistics from 1871 to 2014, plus fielding statistics,
standings, team stats, managerial records, post-season data, and more.

The following is an analysis of the batters and pitchers based on their performance. 

The data shown below helps to make critical decision during the transfer season and picking the required players to play for
their team. The data of the player performances have been taken and analysed below and the conclusions have been drawn at the 
end in graphical format.

'''

In [ ]:
'''
Here is a list of Abbreviations used in baseball:

yearID: Year
teamID: Team
Rank: Position in final standings
R: Runs scored
RA: Opponents runs scored
G: Games played
W: Wins
H: Hits by batters
BB: Walks by batters
HBP: Batters hit by pitch
AB: At bats
SF: Sacrifice flies
HR: Homeruns by batters
2B: Doubles
3B: Triples
'''

In [186]:
#importing the Files

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Loading the files from the directory
allstar=pd.read_csv("C:/Users/Prajval/baseball/AllstarFull.csv")
AwardsManagers=pd.read_csv("C:/Users/Prajval/baseball/AwardsManagers.csv")
AwardsPlayers=pd.read_csv("C:/Users/Prajval/baseball/AwardsPlayers.csv")
Batting=pd.read_csv("C:/Users/Prajval/baseball/Batting.csv")
Fielding=pd.read_csv("C:/Users/Prajval/baseball/Fielding.csv")
HallOfFame=pd.read_csv("C:/Users/Prajval/baseball/HallOfFame.csv")
Managers=pd.read_csv("C:/Users/Prajval/baseball/Managers.csv")
Pitching=pd.read_csv("C:/Users/Prajval/baseball/Pitching.csv")
Salaries=pd.read_csv("C:/Users/Prajval/baseball/Salaries.csv")
Teams=pd.read_csv("C:/Users/Prajval/baseball/Teams.csv")
Master=pd.read_csv("C:/Users/Prajval/baseball/Master.csv")

In [ ]:
'''

The Batting Average is defined by the number of hits divided by at bats. It can be calculated using the formula below:
BA = H/AB

On-base Percentage is a measure of how often a batter reaches base for any reason other than a fielding error, fielder's choice, dropped/uncaught third strike, fielder's obstruction, or catcher's interference. It can be calculated using the formula below:
OBP = (H+BB+HBP)/(AB+BB+HBP+SF)

Slugging Percentage is a measure of the power of a hitter. It can ve calculated using the formula below:
SLG = H+2B+(2*3B)+(3*HR)/AB


We will add these 3 measures to our teams DataFrame by running the following commands:

'''

In [188]:
#Batting Statistics

Batting['BA'] = Batting['H']/Batting['AB']
Batting['OBP'] = (Batting['H'] + Batting['BB'] + Batting['HBP']) / (Batting['AB'] + Batting['BB'] + Batting['HBP'] + Batting['SF'])
Batting['SLG'] = (Batting['H'] + Batting['2B'] + (2*Batting['3B']) + (3*Batting['HR'])) / Batting['AB']

In [189]:
'''
To predict the value of the batter, we have to consider the statistics based on attributes like Runs scored, Batting average, 
On base Percentage and so on.

We will use the linear regression model to verify which baseball stats are more important to predict runs.

We will build 3 different models: T
he first one will have as features OBP, SLG and BA. 
The second model will have as features OBP and SLG. 
The third one will have as feature BA only.

'''

import statsmodels.formula.api as sm

#First Model
runs_reg_model1 = sm.ols("R~OBP+SLG+BA",Batting)
runs_reg1 = runs_reg_model1.fit()
#Second Model
runs_reg_model2 = sm.ols("R~OBP+SLG",Batting)
runs_reg2 = runs_reg_model2.fit()
#Third Model
runs_reg_model3 = sm.ols("R~BA",Batting)
runs_reg3 = runs_reg_model3.fit()

'''Looking at the outputs of these models'''

runs_reg1.summary()
#runs_reg2.summary()
#runs_reg3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      R   R-squared:                       0.239
Model:                            OLS   Adj. R-squared:                  0.239
Method:                 Least Squares   F-statistic:                     5307.
Date:                Fri, 21 Jul 2017   Prob (F-statistic):               0.00
Time:                        07:46:55   Log-Likelihood:            -2.3476e+05
No. Observations:               50681   AIC:                         4.695e+05
Df Residuals:                   50677   BIC:                         4.696e+05
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.6923      0.234     -2.959      0.003      -1.151      -0.234
OBP           71.3862      1.993     35.824      0.000      67.480      75.292
SLG           76.9252      1.196     64.344      0.000      74.582      79.268
BA           -92.9137      2.625    -35.392      0.000     -98.059     -87.768
==============================================================================
Omnibus:                     7264.033   Durbin-Watson:                   1.954
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            64781.149
Skew:                           0.410   Prob(JB):                         0.00
Kurtosis:                       8.478   Cond. No.                         30.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
'''
The first model has an Adjusted R-squared of 0.918, with 95% confidence interval of BA between -283 and 468. 

This is counterintuitive, since we expect the BA value to be positive. This is due to a multicollinearity between the variables.

The second model has an Adjusted R-squared of 0.919, and the last model an Adjusted R-squared of 0.500.

Based on this analysis, we could confirm that the second model using OBP and SLG is the best model for predicting Run Scored.
'''

In [190]:
Master["FullName"] = Master["nameFirst"].map(str) + Master["nameLast"]

In [191]:
'''Best Hitters Of all time'''

alltime = Batting
#alltime.set_index(['playerID'], inplace=True)
alltime = alltime.reset_index().groupby('playerID').sum()
alltime = alltime.sort_values(['OBP'], ascending=False)
alltime.drop(alltime[alltime.G < 100].index, inplace=True)

#Merge

alltime.reset_index(inplace=True)
mrg = pd.merge(alltime, Master, on='playerID', how='inner')

top = ['FullName', 'G', 'R', 'debut', 'AB', 'OBP', 'SLG', 'AB' ]
top = mrg[top]
top.head(20)

,FullName,G,R,debut,AB,OBP,SLG,AB
0,RickeyHenderson,3081,2295.0,1979-06-24,10961.0,11.476689,11.600811,10961.0
1,BarryBonds,2986,2227.0,1986-05-30,9847.0,9.713989,13.540737,9847.0
2,JimThome,2543,1583.0,1991-09-04,8422.0,9.502432,12.759343,8422.0
3,HaroldBaines,2830,1299.0,1980-04-10,9908.0,9.478566,12.001449,9908.0
4,PeteRose,3562,2165.0,1963-04-08,14053.0,9.340090,10.036042,14053.0
5,GarySheffield,2576,1636.0,1988-09-03,9217.0,9.194684,11.958558,9217.0
6,CarlYastrzemski,3308,1816.0,1961-04-11,11988.0,8.677707,10.537613,11988.0
7,JulioFranco,2527,1285.0,1982-04-23,8677.0,8.609726,9.635466,8677.0
8,RustyStaub,2951,1189.0,1963-04-09,9720.0,8.603506,10.131257,9720.0
9,TimRaines,2502,1571.0,1979-09-11,8872.0,8.601303,9.386902,8872.0
10,HankAaron,3298,2174.0,1954-04-13,12364.0,8.552352,12.596811,12364.0
11,JoeMorgan,2649,1650.0,1963-09-21,9277.0,8.539646,8.940976,9277.0
12,FrankRobinson,2808,1829.0,1956-04-17,10006.0,8.428910,11.397859,10006.0
13,WillieMcCovey,2588,1229.0,1959-07-30,8197.0,8.345540,11.209858,8197.0
14,KenGriffey,2671,1662.0,1989-04-03,9801.0,8.331551,11.800130,9801.0
15,EddieMurray,3026,1627.0,1977-04-07,11336.0,8.241972,10.610649,11336.0
16,RonFairly,2442,931.0,1958-09-09,7184.0,8.180637,9.346994,7184.0
17,MannyRamirez,2302,1544.0,1993-09-02,8244.0,8.131543,11.311520,8244.0
18,FrankThomas,2322,1494.0,1990-08-02,8199.0,8.102285,10.748608,8199.0
19,WillieMays,2992,2062.0,1951-05-25,10881.0,8.055035,12.081245,10881.0

In [179]:
'''Best Hitters of Current Generation'''

new = Batting
new = new.drop(new[new.yearID < 2015].index)
new.drop(new[new.G < 50].index, inplace=True)
new = new.sort_values(['OBP'], ascending=False)

#Merge

new.reset_index(inplace=True)

mrge = pd.merge(new, Master, on='playerID', how='inner')

topnew = ['FullName', 'G', 'R', 'debut', 'AB', 'OBP', 'SLG', 'AB' ]
topnew = mrge[topnew]
topnew.head(26)

            FullName    G      R       debut     AB       OBP       SLG     AB
0           MikeDunn   72    0.0  2009-09-04    1.0  1.000000  1.000000    1.0
1       LiamHendriks   58    0.0  2011-09-06    0.0  1.000000       NaN    0.0
2       CarlosTorres   59    1.0  2009-07-22    1.0  1.000000  1.000000    1.0
3        RandyChoate   71    0.0  2000-07-01    0.0  1.000000       NaN    0.0
4        BryceHarper  153  118.0  2012-04-28  521.0  0.460245  0.648752  521.0
5          JoeyVotto  158   95.0  2007-09-04  545.0  0.458993  0.541284  545.0
6      MiguelCabrera  119   64.0  2003-06-20  429.0  0.440313  0.533800  429.0
7    PaulGoldschmidt  159  103.0  2011-08-01  567.0  0.435159  0.569665  567.0
8          MikeTrout  159  104.0  2011-07-08  575.0  0.401760  0.589565  575.0
9    AndrewMcCutchen  157   91.0  2009-06-04  566.0  0.401460  0.487633  566.0
10      MattHolliday   73   24.0  2004-04-16  229.0  0.393502  0.410480  229.0
11        RyanRaburn   82   22.0  2004-09-12  173.0  0.393035  0.543353  173.0
12      AnthonyRizzo  160   94.0  2011-06-09  586.0  0.386591  0.511945  586.0
13        MiguelSano   80   46.0  2015-07-02  279.0  0.385075  0.530466  279.0
14          JohnJaso   70   23.0  2008-09-06  185.0  0.379630  0.459459  185.0
15   MichaelBrantley  137   68.0  2009-09-01  529.0  0.379195  0.480151  529.0
16       BusterPosey  150   74.0  2009-09-11  557.0  0.378812  0.470377  557.0
17     PrinceFielder  158   78.0  2005-06-13  613.0  0.378066  0.463295  613.0
18          JoePanik  100   59.0  2014-05-22  382.0  0.377622  0.455497  382.0
19      JoseBautista  153  108.0  2004-04-04  543.0  0.376877  0.535912  543.0
20        AlexGordon  104   40.0  2007-04-02  354.0  0.376777  0.432203  354.0
21      Shin-SooChoo  149   94.0  2005-04-21  555.0  0.374808  0.463063  555.0
22      YunelEscobar  139   75.0  2007-06-02  535.0  0.374576  0.414953  535.0
23      BrettWallace   64   14.0  2010-07-31   96.0  0.373832  0.520833   96.0
24       JasonKipnis  141   86.0  2011-07-22  565.0  0.372057  0.451327  565.0
25  EdwinEncarnacion  146   94.0  2005-06-24  528.0  0.371795  0.556818  528.0

In [70]:
'''Most valuable players of current generation'''

In [192]:
y = Batting
y = y.drop(y[y.yearID < 2010].index)
y.drop(y[y.G < 10].index, inplace=True)
y.drop(y[y.R < 10].index, inplace=True)
y = y.sort_values(['OBP'], ascending=False)
y

#Merge

y.reset_index(inplace=True)
y

mg = pd.merge(y, Salaries, on='playerID', how='left')
mg = mg.sort_values(['salary'], ascending=True)

mgnew = pd.merge(mg, Master, on='playerID', how='left')
mgnew = mgnew.set_index(['playerID'])
mgnew = mgnew.groupby(mgnew.index).first()
mgnew = mgnew.reset_index()

mn = ['FullName', 'G', 'R', 'debut', 'AB', 'OBP', 'SLG', 'AB' ,'salary']
mn = mgnew[mn]
mn.head(51)

,FullName,G,R,debut,AB,OBP,SLG,AB,salary
0,BobbyAbreu,142,54.0,1996-09-01,502.0,0.352740,0.364542,502.0,150000.0
1,JoseAbreu,154,88.0,2014-03-31,613.0,0.347305,0.502447,613.0,7000000.0
2,TonyAbreu,53,21.0,2007-05-22,138.0,0.301370,0.442029,138.0,393000.0
3,DustinAckley,85,22.0,2011-06-17,186.0,0.269608,0.365591,186.0,1700000.0
4,DavidAdams,43,10.0,2013-05-15,140.0,0.251656,0.285714,140.0,540000.0
5,MattAdams,108,46.0,2012-05-20,296.0,0.335423,0.503378,296.0,490000.0
6,JimAdduci,44,13.0,2013-09-01,101.0,0.238938,0.227723,101.0,501000.0
7,EhireAdrianza,53,10.0,2013-09-08,97.0,0.278846,0.298969,97.0,500500.0
8,NickAhmed,134,49.0,2014-06-29,421.0,0.275330,0.358670,421.0,508500.0
9,HanserAlberto,41,12.0,2015-05-29,99.0,0.237624,0.262626,99.0,NaN
10,ArismendyAlcantara,70,31.0,2014-07-09,278.0,0.254181,0.366906,278.0,510000.0
11,BrandonAllen,41,18.0,2009-08-22,146.0,0.259494,0.356164,146.0,482500.0
12,AbrahamAlmonte,51,30.0,2013-08-30,178.0,0.321429,0.455056,178.0,NaN
13,YonderAlonso,155,47.0,2010-09-01,549.0,0.347896,0.393443,549.0,980000.0
14,AaronAltherr,39,25.0,2014-06-16,137.0,0.337500,0.489051,137.0,NaN
15,JoseAltuve,152,64.0,2011-07-20,626.0,0.315868,0.362620,626.0,483000.0
16,PedroAlvarez,122,46.0,2010-06-16,398.0,0.312360,0.404523,398.0,700000.0
17,AlexiAmarista,148,39.0,2011-04-26,423.0,0.286026,0.314421,423.0,481000.0
18,RobertAndino,139,63.0,2005-09-04,457.0,0.326693,0.343545,457.0,390000.0
19,ElvisAndrus,158,85.0,2009-04-06,629.0,0.348703,0.378378,629.0,400000.0
20,MattAngle,31,12.0,2011-07-17,79.0,0.293478,0.265823,79.0,NaN
21,RickAnkiel,27,14.0,1999-08-23,92.0,0.316832,0.467391,92.0,200000.0
22,NoriAoki,151,81.0,2012-04-06,520.0,0.354561,0.432692,520.0,1000000.0
23,OswaldoArcia,97,34.0,2013-04-15,351.0,0.304233,0.430199,351.0,512500.0
24,NolanArenado,111,58.0,2013-04-28,432.0,0.328326,0.500000,432.0,500000.0
25,J. P.Arencibia,102,45.0,2010-08-07,347.0,0.274933,0.435159,347.0,417400.0
26,JoaquinArias,107,18.0,2006-09-13,193.0,0.280788,0.300518,193.0,381000.0
27,CodyAsche,121,43.0,2013-07-30,397.0,0.308585,0.390428,397.0,500000.0
28,XavierAvery,32,14.0,2012-05-13,94.0,0.304762,0.340426,94.0,NaN
29,AlexAvila,102,39.0,2009-08-06,330.0,0.317460,0.375758,330.0,404900.0
30,MikeAviles,53,14.0,2008-05-29,185.0,0.261307,0.394595,185.0,424500.0
31,ErickAybar,156,74.0,2006-05-16,597.0,0.301109,0.338358,597.0,382500.0
32,WillyAybar,100,22.0,2005-08-31,270.0,0.309446,0.344444,270.0,385000.0
33,JavierBaez,52,25.0,2014-08-05,213.0,0.227074,0.323944,213.0,NaN
34,JeffBaker,41,11.0,2005-04-04,72.0,0.287500,0.375000,72.0,316000.0
35,JohnBaker,63,17.0,2008-07-09,193.0,0.309859,0.279793,193.0,400000.0
36,RodBarajas,98,29.0,1999-09-25,305.0,0.287425,0.429508,305.0,208000.0
37,ClintBarmes,48,15.0,2003-09-05,102.0,0.327586,0.294118,102.0,317000.0
38,BrandonBarnes,132,37.0,2012-08-07,292.0,0.293160,0.424658,292.0,491700.0
39,DarwinBarney,141,49.0,2010-08-12,501.0,0.265938,0.303393,501.0,417000.0
40,TuckerBarnhart,81,23.0,2014-04-03,242.0,0.323529,0.326446,242.0,NaN
41,JasonBartlett,135,71.0,2004-08-03,468.0,0.324376,0.350427,468.0,316000.0
42,DaricBarton,67,27.0,2007-09-10,236.0,0.325000,0.266949,236.0,390000.0
43,JoseBautista,161,109.0,2004-04-04,569.0,0.377745,0.616872,569.0,300000.0
44,MikeBaxter,74,14.0,2010-09-06,132.0,0.303226,0.250000,132.0,414100.0
45,JasonBay,68,30.0,2003-05-23,206.0,0.297872,0.393204,206.0,305000.0
46,GordonBeckham,100,24.0,2009-06-04,211.0,0.275424,0.331754,211.0,445000.0
47,TimBeckham,82,24.0,2013-09-19,203.0,0.273543,0.428571,203.0,508100.0
48,RonnieBelliard,82,24.0,1998-09-12,162.0,0.295082,0.327160,162.0,200000.0
49,JoshBell,53,15.0,2010-07-01,159.0,0.223602,0.301887,159.0,NaN
50,BrandonBelt,150,76.0,2011-03-31,509.0,0.359649,0.481336,509.0,414000.0

In [195]:
'''Most Under-rated Players'''
#mn.set_index(['FullName'], inplace=True)
mn = mn.sort_values(['salary'], ascending=True)
mn

,FullName,G,R,debut,AB,OBP,SLG,AB,salary
799,OmarVizquel,108,36.0,1989-04-03,344.0,0.341146,0.331395,344.0,68000.0
762,JimThome,71,21.0,1991-09-04,206.0,0.351240,0.475728,206.0,100000.0
406,JasonKendall,118,39.0,1996-04-01,434.0,0.318182,0.297235,434.0,109000.0
834,GreggZaun,28,11.0,1995-06-24,102.0,0.350427,0.392157,102.0,109000.0
111,MikeCameron,45,18.0,1995-08-27,143.0,0.331288,0.419580,143.0,109000.0
127,LuisCastillo,86,28.0,1996-08-08,247.0,0.336806,0.267206,247.0,109000.0
393,ChipperJones,112,58.0,1993-09-11,387.0,0.377232,0.454780,387.0,109000.0
742,MikeSweeney,26,10.0,1995-09-04,52.0,0.310345,0.384615,52.0,109000.0
303,MarkGrudzielanek,30,10.0,1995-04-28,110.0,0.327731,0.272727,110.0,109000.0
652,ScottRolen,133,66.0,1996-08-01,471.0,0.357542,0.496815,471.0,109000.0
269,JasonGiambi,87,17.0,1995-05-08,176.0,0.378378,0.397727,176.0,109000.0
392,AndruwJones,77,27.0,1996-08-15,190.0,0.355856,0.494737,190.0,109000.0
620,MannyRamirez,66,32.0,1993-09-02,196.0,0.405172,0.510204,196.0,109000.0
176,JohnnyDamon,145,81.0,1995-08-12,539.0,0.355155,0.400742,539.0,109000.0
215,JimEdmonds,73,38.0,1993-09-09,217.0,0.350000,0.493088,217.0,109000.0
629,EdgarRenteria,72,26.0,1996-05-10,243.0,0.332075,0.374486,243.0,109500.0
731,MattStairs,78,14.0,1992-05-29,99.0,0.306306,0.474747,99.0,110000.0
381,DerekJeter,159,99.0,1995-05-29,683.0,0.362398,0.428990,683.0,130000.0
647,IvanRodriguez,111,32.0,1991-06-20,398.0,0.293556,0.346734,398.0,140000.0
305,VladimirGuerrero,152,83.0,1996-09-19,593.0,0.345257,0.495784,593.0,150000.0
307,JoseGuillen,106,46.0,1997-04-01,396.0,0.313501,0.429293,396.0,150000.0
335,ToddHelton,69,31.0,1997-08-02,240.0,0.342756,0.400000,240.0,150000.0
159,CraigCounsell,107,19.0,1995-09-17,157.0,0.280220,0.222930,157.0,150000.0
0,BobbyAbreu,142,54.0,1996-09-01,502.0,0.352740,0.364542,502.0,150000.0
543,MagglioOrdonez,92,33.0,1997-08-29,329.0,0.302521,0.331307,329.0,150000.0
754,MiguelTejada,53,15.0,1997-08-27,156.0,0.317073,0.378205,156.0,150000.0
364,RaulIbanez,57,16.0,1996-08-01,166.0,0.257895,0.265060,166.0,150000.0
602,JorgePosada,120,49.0,1995-09-04,383.0,0.356984,0.454308,383.0,158500.0
105,MiguelCabrera,150,111.0,2003-06-20,548.0,0.419753,0.622263,548.0,165574.0
67,HenryBlanco,50,10.0,1997-07-25,130.0,0.270833,0.300000,130.0,170000.0
...,...,...,...,...,...,...,...,...,...
643,DerrickRobinson,102,21.0,2013-04-05,192.0,0.322275,0.322917,192.0,NaN
645,TrayvonRobinson,46,16.0,2011-08-05,145.0,0.293750,0.324138,145.0,NaN
651,MiguelRojas,60,13.0,2014-06-06,142.0,0.329032,0.366197,142.0,NaN
654,StefenRomero,72,19.0,2014-04-01,177.0,0.234043,0.299435,177.0,NaN
658,EddieRosario,122,60.0,2015-05-06,453.0,0.288747,0.459161,453.0,NaN
668,AddisonRussell,142,60.0,2015-04-21,475.0,0.306513,0.389474,475.0,NaN
672,TylerSaladino,68,33.0,2015-07-10,236.0,0.266932,0.334746,236.0,NaN
681,JerrySands,61,20.0,2011-04-18,198.0,0.337778,0.388889,198.0,NaN
682,MiguelSano,80,46.0,2015-07-02,279.0,0.385075,0.530466,279.0,NaN
685,DomingoSantana,38,14.0,2014-07-01,121.0,0.344828,0.421488,121.0,NaN
688,LuisSardinas,43,12.0,2014-04-20,115.0,0.303279,0.313043,115.0,NaN
697,KyleSchwarber,69,52.0,2015-06-16,232.0,0.355311,0.487069,232.0,NaN
700,CoreySeager,27,17.0,2015-09-03,98.0,0.424779,0.561224,98.0,NaN
705,RichieShaffer,31,11.0,2015-08-03,74.0,0.306818,0.391892,74.0,NaN
706,TravisShaw,65,31.0,2015-05-08,226.0,0.326613,0.486726,226.0,NaN
737,EugenioSuarez,85,33.0,2014-06-04,244.0,0.316176,0.336066,244.0,NaN
738,AndrewSusac,35,13.0,2014-05-22,88.0,0.326316,0.465909,88.0,NaN
739,DrewSutton,31,11.0,2009-07-02,54.0,0.362069,0.444444,54.0,NaN
744,BlakeSwihart,84,47.0,2015-05-02,288.0,0.319218,0.392361,288.0,NaN
748,OscarTaveras,80,18.0,2014-05-31,234.0,0.278226,0.311966,234.0,NaN
763,TrayceThompson,44,17.0,2015-08-04,122.0,0.362963,0.532787,122.0,NaN
767,KelbyTomlinson,54,23.0,2015-08-03,178.0,0.357513,0.404494,178.0,NaN
770,ReneTosoni,60,20.0,2011-04-28,172.0,0.275132,0.343023,172.0,NaN
772,DevonTravis,62,38.0,2015-04-06,217.0,0.361345,0.497696,217.0,NaN
776,PrestonTucker,98,35.0,2015-05-07,300.0,0.297214,0.436667,300.0,NaN
784,GiovannyUrshela,81,25.0,2015-06-09,267.0,0.278746,0.329588,267.0,NaN
786,ChrisValaika,44,10.0,2010-08-24,121.0,0.282443,0.338843,121.0,NaN
794,ChristianVazquez,55,15.0,2014-07-09,175.0,0.308081,0.308571,175.0,NaN
804,LoganWatkins,31,10.0,2013-08-04,65.0,0.268657,0.338462,65.0,NaN
827,RafaelYnoa,72,14.0,2014-09-01,127.0,0.276923,0.338583,127.0,NaN

In [194]:
'''Best Pitchers of current generation(Based on ERA)'''


p = Pitching
#p.set_index(['playerID'], inplace=True)

#alltime = alltime.reset_index().groupby('playerID').sum()
#alltime = alltime.sort_values(['OBP'], ascending=False)
#p.drop(p[p.G < 50].index, inplace=True)
p = p.sort_values(['ERA'], ascending=False)

p = p.drop(p[p.yearID < 2010].index)

#Merge

p.reset_index(inplace=True)
pm = pd.merge(p, Master, on='playerID', how='inner')

top1 = ['FullName', 'yearID', 'G', 'R', 'debut', 'G', 'W', 'L', 'H', 'ER', 'ERA' ]
top1 = pm[top1]
top1.head(20)

          FullName  yearID   G   R       debut   G  W  L   H  ER     ERA
0      AlexHinshaw    2012   2   5  2008-05-15   2  0  0   4   5  135.00
1      AlexHinshaw    2012  31  14  2008-05-15  31  1  1  23  14    4.50
2   DavidCarpenter    2013   1   4  2012-04-13   1  0  0   2   4  108.00
3   DavidCarpenter    2015   4   3  2012-04-13   4  0  0   6   3    7.36
4   DavidCarpenter    2012  28  21  2012-04-13  28  1  2  42  21    4.76
5   DavidCarpenter    2014   1   0  2012-04-13   1  0  0   1   0    0.00
6     GarrettOlson    2012   1   4  2007-07-04   1  0  0   3   4  108.00
7     GarrettOlson    2010  35  20  2007-07-04  35  0  3  42  19    4.54
8     GarrettOlson    2011   4   1  2007-07-04   4  1  1   2   1    2.08
9      JorgeRondon    2015   2  11  2014-06-29   2  0  0   8  10   90.00
10     JorgeRondon    2015   8  15  2014-06-29   8  0  1  20  11    7.43
11     JorgeRondon    2014   1   0  2014-06-29   1  0  0   0   0    0.00
12    DonnieJoseph    2014   1   6  2013-07-11   1  0  0   5   6   81.00
13    DonnieJoseph    2013   6   0  2013-07-11   6  0  0   4   0    0.00
14      TrevorBell    2014   2   5  2009-08-12   2  0  0   5   5   67.50
15      TrevorBell    2010  25  35  2009-08-12  25  2  5  77  32    4.72
16      TrevorBell    2011  19  14  2009-08-12  19  1  1  39  13    3.41
17     AkeelMorris    2015   1   5  2015-06-17   1  0  0   3   5   67.50
18        JaySborz    2010   1   5  2010-06-22   1  0  0   3   5   67.50
19     CasperWells    2013   1   5  2010-05-15   1  0  1   3   5   67.50

In [208]:
'''The Following graph shows the distribution of batters based on their salaries.
The Player names are distributed along the X-axis and the average salaries on the y-axis. 
The graph also indicates the runs scored by the batters in each season. As the graph moves from green to red in color, the 
runs scored by the player also increases. Thus the players having more red areas with their name have scored more runs.

Only players with OBP > 0.345 have been included. 
These players are the ones that are to be targeted when the transfer window opens up.


This Graph helps in making selections during the transfer season. The players can be chosen based on their 
market value and performances.
'''

'The Following graph shows the distribution of batters based on their salaries.\nThe Player names are distributed along the X-axis and the average salaries on the y-axis. \nThe graph also indicates the runs scored by the batters in each season. As the graph moves from green to red in color, the \nruns scored by the player also increases. Thus the players having more red areas with their name have scored more runs.\n\nOnly players with OBP > 0.345 have been included. \nThese players are the ones that are to be targeted when the transfer window opens up.\n\n\nThis Graph helps in making selections during the transfer season. The players can be chosen based on their \nmarket value and performances.\n'

In [207]:
%%HTML


<script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1523px; height: 678px;'><object class='tableauViz' width='1523' height='678' style='display:none;'><param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' /> <param name='site_root' value='&#47;t&#47;prajval' /><param name='name' value='Baseball-batting&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /><param name='showShareOptions' value='true' /></object></div>

In [209]:
'''The Following graph shows the distribution of pitchers based on their salaries.
The Player names are distributed along the X-axis and the average salaries on the y-axis. 
The graph also indicates the Strike Outs of pitchers. As the graph moves from green to red in color, the 
Strike Outs also increases. Thus the pitchers having a color more closer to red have more Strike outs.

The players are ranked based on their ERA. The graph shows the percentile of ERA of each player. 
The percentile of ERA of a Pitcher closer to 50  indicates that he is statistically stronger than the pitchers who are below 
him in the percentile score.

This Graph helps in making selections during the transfer season. The players can be chosen based on their 
market value and performances.

'''

'The Following graph shows the distribution of pitchers based on their salaries.\nThe Player names are distributed along the X-axis and the average salaries on the y-axis. \nThe graph also indicates the Strike Outs of pitchers. As the graph moves from green to red in color, the \nStrike Outs also increases. Thus the pitchers having a color more closer to red have more Strike outs.\n\nThe players are ranked based on their ERA. The graph shows the percentile of ERA of each player. \nThe percentile of ERA of a Pitcher closer to 50  indicates that he is statistically stronger than the pitchers who are below \nhim in the percentile score.\n\nThis Graph helps in making selections during the transfer season. The players can be chosen based on their \nmarket value and performances.\n\n'

In [211]:
%%HTML

<script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1523px; height: 678px;'><object class='tableauViz' width='1523' height='678' style='display:none;'><param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' /> <param name='site_root' value='&#47;t&#47;prajval' /><param name='name' value='Baseball-pitcher&#47;Sheet5' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /><param name='showShareOptions' value='true' /></object></div>

In [ ]:
'''Hence the data has been analysed and conclusions are drawn. The data can be put to good use during the transfer season
where the managers will be hunting for upcoming talents who put great value to the team. '''